<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="hazmat_app_root_menu"
        name="Hazmat"
        web_icon="hazmat,static/description/icon.png"
        sequence="13"
        groups="base.group_user"
        />
        
    <menuitem id="menu_hazmat_project"
        string="Material Admin"
        action="action_material_admin"
        parent="hazmat_app_root_menu"
        groups="base.group_user"
        sequence="1"
        />
        
    <menuitem id="menu_hazmat_composite_analysis"
        string="Composite Analysis"
        action="action_composite_analysis"
        parent="hazmat_app_root_menu"
        groups="base.group_user"
        sequence="2"
        />
    
</odoo>